In [1]:
try:
    from configuracoes_notebooks import set_proj_dir
    set_proj_dir()
except:
    from teste import diretorio_teste
    diretorio_teste()

O diretorio do seu projeto é coleta_cebrap
Caminho absoluto do diretorio encontrado C:\Users\Olívia\Desktop\batatinhas\coleta_cebrap
Caminho no path.

In [2]:
import geopandas as gpd
import os

from notebooks.jupyter import utils
from utils import (
    get_data_diretorio,
    save_parquet_excel,
)

# Ocorrências de Inundações / Área do Distritos

In [3]:
data_path = get_data_diretorio()
assets_path = os.path.join(
    data_path,
    'assets'
)

# Dependências
Este notebook é dependente do arquivo resultante do notebok '.inund_por_dist'

In [4]:
gdf_distritos = gpd.read_parquet(
    os.path.join(
        assets_path,
        'areas_inundacao',
        'qt_ocorrencias_inund_distrito.parquet'
    )
)

# Cálculo

In [5]:
gdf_distritos['inund_por_area'] = (
    gdf_distritos['qt_inund_ocor'] / gdf_distritos['geometry'].area
)

In [6]:
gdf_distritos.sample(3)

,CD_MUN,NM_MUN,CD_DIST,NM_DIST,CD_RGINT,NM_RGINT,CD_RGI,NM_RGI,CD_CONCURB,NM_CONCURB,AREA_KM2,total_pop,total_dom,geometry,qt_inund_ocor,inund_por_area
9,3550308,São Paulo,355030810,BRAS,3501,São Paulo,350001,São Paulo,3550308,São Paulo/SP,3.637969,38750,19761,"POLYGON ((335303.631 7394197.266, 335273.072 7...",0.0,0.000000e+00
60,3550308,São Paulo,355030861,PERUS,3501,São Paulo,350001,São Paulo,3550308,São Paulo/SP,23.636765,87716,34379,"POLYGON ((321923.417 7412300.951, 321941.7 741...",9.0,3.807679e-07
76,3550308,São Paulo,355030877,SAUDE,3501,São Paulo,350001,São Paulo,3550308,São Paulo/SP,9.237295,128469,65598,"POLYGON ((332835.435 7389140.186, 333003.906 7...",1.0,1.082684e-07

# Padronização de Entrega

In [7]:
gdf_distritos.columns

Index(['CD_MUN', 'NM_MUN', 'CD_DIST', 'NM_DIST', 'CD_RGINT', 'NM_RGINT',
       'CD_RGI', 'NM_RGI', 'CD_CONCURB', 'NM_CONCURB', 'AREA_KM2', 'total_pop',
       'total_dom', 'geometry', 'qt_inund_ocor', 'inund_por_area'],
      dtype='object')

In [8]:
drop_cols={
    'CD_MUN',
    'NM_MUN',
    'CD_RGINT',
    'NM_RGINT',
    'CD_RGI',
    'NM_RGI',
    'CD_CONCURB',
    'NM_CONCURB',
    'AREA_KM2',
    'geometry'
}

gdf_distritos.drop(
    columns=drop_cols,
    axis=1,
    inplace=True
)

In [9]:
gdf_distritos.sample(2)

,CD_DIST,NM_DIST,total_pop,total_dom,qt_inund_ocor,inund_por_area
78,355030879,SOCORRO,38051,16549,1.0,8.155926e-08
90,355030891,VILA MATILDE,103558,45322,0.0,0.000000e+00

In [10]:
gdf_distritos.set_index('NM_DIST', inplace=True)

In [11]:
gdf_distritos.sample(2)

              CD_DIST  total_pop total_dom  qt_inund_ocor  inund_por_area
NM_DIST
PONTE RASA  355030864      89881     36258            5.0    7.629488e-07
PIRITUBA    355030863     179724     78342            5.0    2.932241e-07

# Salvar GDF

In [12]:
save_parquet_excel(
    gdf_distritos,
    fname='inundacao_por_area_distrito',
    data_path = assets_path,
    data_subpath = 'areas_inundacao'
)